body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0b0b0d;
  color: #eee;
}

header {
  text-align: center;
  padding: 30px 0;
  background-color: #111217;
}

h1 {
  font-size: 40px;
  color: #c9a07a;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}


.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  background-color: #111;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
}

.slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.indicators {
  text-align: center;
  padding: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #c9a07a;
}


section {
  margin-top: 40px;
}

section h2 {
  color: #c9a07a;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: #bdbdbd;
}
